.fab-position {
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 10;
}

.container {
  width: 80%;
  position: relative;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 20px 72px;
}

.dotted {
}

.section-wrapper {
  position: relative;

}

.bump-20 {
  margin-top: 20px;
}

.submit-button {
  position: fixed;
  right: 2.5%;
  top: 10px;
}
