<section class="section-wrapper">
  <div class="bump-20"
       *ngFor="let field of field.fieldGroup; let i = index;">
    <formly-group
      [model]="model[i]"
      [field]="field"
      [options]="options"
      [form]="formControl">
      <button mat-raised-button type="button" (click)="remove(i)">
        Remove
      </button>
    </formly-group>
  </div>
  <div class="submit-button">

    <button mat-fab
            class="fab-position"
            type="button"
            (click)="add()">{{ field.fieldArray.templateOptions.btnText }}
    </button>
  </div>
</section>
